{% extends "base.html" %}
{% load static %}
{% block title %}
    Изменение пароля
{% endblock %}
{% block css %}
    <link rel="stylesheet" href='{% static "pages/form.css" %}'>
{% endblock %}
{% block content %}
  {% load user_filters %}

<main class="main container">
  <div class="main__header">
    <h1 class="main__title">Изменить пароль</h1>
  </div>
<div class="form-container">
  <form class="form" method="post">
    <p class="form__info-text">В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
    {% csrf_token %}
    {% for field in form %}
      <div class="form__group">
        <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
        <div class="form__field-group">
          {{ field|add_class:'form__input' }}
          {% if field.errors %}
            <span class="form__error">{{ field.errors.as_text|escape }}</span>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <div class="form__footer">
       <button class="button button_style_blue">Изменить пароль</button>
    </div>
  </form>
</div>
</main>


{% endblock %}