{% load recipe_filters %}
<nav class="pagination" aria-label="Search results pages">
  <ul class="pagination__container">
    {% if page.has_previous %}
      <li class="pagination__item">
        <a class="pagination__link link" href="{% full_page request items.previous_page_number %}" tabindex="-1"><span class="icon-left"></span></a>
      </li>
    {% endif %}
    {% for number in page.paginator.page_range %}
      {% if page.number == number %}
        <li class="pagination__item pagination__item_active"><span class="pagination__link link" href="{% full_page request number %}">{{ number }}</span></li>
      {% else %}
        <li class="pagination__item"><a class="pagination__link link" href="{% full_page request number %}">{{ number }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page.has_next %}
      <li class="pagination__item">
        <a class="pagination__link link" href="{% full_page request items.next_page_number %}"><span class="icon-right"></span></a>
      </li>
    {% endif %}
  </ul>
</nav>
