{% load recipe_filters %}
<ul class="tags">
	{% for tag in tags %}
		<li class="tags__item">
			<a id="{{ tag.title }}"
				 style="color:{{ tag.color }}"
				 class="tags__checkbox {% if tag.title in active_tags %}tags__checkbox_active{% endif %}"
				 href="
				 {% if tag.title in active_tags %}
				 	{% deactivate_tag request active_tags tag.title %}
				 {% else %}
				 	{% activate_tag request.get_full_path tag.title %}
				 {% endif %}"
			></a>
			<span class="tags__label">{{ tag }}</span>
		</li>
	{% endfor %}
</ul>