{% extends "base.html" %}
{% load static %}
{% block title %}
Создание рецепта
{% endblock %}
{% block css %}
<link href='{% static "pages/form.css" %}' rel="stylesheet">
{% endblock %}
{% block content %}
{% load user_filters %}
  <main class="main container">
    <div class="main__header">
      {% if recipe %}
      <h1 class="main__title">Редактирование рецепта</h1>
      {% else %}
      <h1 class="main__title">Создание рецепта</h1>
      {% endif %}
    </div>
    <div class="form-container">
      <form action="{% if recipe %}{% url 'recipe_edit' recipe.slug %}{% else %}{% url 'recipe_new' %}{% endif %}"
            class="form"
            enctype="multipart/form-data"
            method="post">
        {% csrf_token %}
        <div class="form__group">
          <label class="form__label" for="{{ form.title.id_for_label }}">{{form.title.label }}</label>
          <div class="form__field-group">
            {{ form.title|add_class:'form__input' }}
            {% if form.title.errors %}
              <span class="form__error">{{ form.title.errors.as_text|escape }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__group">
          <label class="form__label" for="{{ form.tag.id_for_label }}">{{ form.tags.label }}</label>
          <div class="form__field-group">
            <div class="tags">
              {% if recipe %}
                {% for tag in form.fields.tags.choices.queryset %}
                  <div class="tags__item">
                    <input type="checkbox" style="color: {{ tag.color }}" name="tags" value="{{ tag.id }}" id="id_{{ tag.title }}"
                      class="tags__checkbox tags__checkbox_style_{{ tag.color }}" {% if tag in recipe.tags.all %}checked{% endif %}>
                    <label for="id_tags_{{ tag.id }}" class="tags__label">{{ tag.title }}</label>
                  </div>
                {% endfor %}
              {% else %}
                {% for tag in form.fields.tags.choices.queryset %}
                  <div class="tags__item">
                    <input type="checkbox" style="color: {{ tag.color }}" name="tags" value="{{ tag.id }}" id="id_{{ tag.title }}"
                      class="tags__checkbox tags__checkbox_style_{{ tag.color }}" checked>
                    <label for="id_tags_{{ tag.id }}" class="tags__label">{{ tag.title }}</label>
                  </div>
                {% endfor %}
              {% endif %}
          </div>
            {% if form.tag.errors %}
            <span class="form__error">{{ form.tag.errors.as_text|escape }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__group">
          <label class="form__label" for="{{ form.ingredient.id_for_label }}">{{ form.ingredient.label }}</label>
          <div class="form__field-group">
            <div class="form__field-group-ingredientes">
              <div class="form__dropdown">
                <input class="form__input" id="nameIngredient"type="text">
                <div class="form__dropdown-items"></div>
              </div>
              <input class="form__input" id="cantidad" min="0" type="number">
              <label class="form__label" for="cantidad"id="cantidadVal">шт.</label>
            </div>
            <div class="form__field-group-ingredientes-container">
              {% if recipe %}
              {% for ingredient in recipe.counts.all %}
              <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                <span> {{ ingredient }}</span>
                <span class="form__field-item-delete"></span>
                <input id="nameIngredient_{{ forloop.counter }}"
                       name="nameIngredient_{{ forloop.counter }}"
                       type="hidden"
                       value="{{ ingredient.ingredient.title }}">
                <input id="valueIngredient_{{ forloop.counter }}"
                       name="valueIngredient_{{ forloop.counter }}"
                       type="hidden"
                       value="{{ ingredient.count }}">
                <input id="unitsIngredient_{{ forloop.counter }}"
                       name="unitsIngredient_{{ forloop.counter }}"
                       type="hidden"
                       value="{{ ingredient.ingredient.dimension }}">
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
            <span class="form__error">{{ ingr_error }}</span>
          </div>
        </div>

        <div class="form__group">
          <label class="form__label" for="{{ form.cook_time.id_for_label }}">{{ form.cook_time.label }}</label>
          <div class="form__field-group form__field-group_time">
            {{ form.cook_time|add_class:'form__input' }}
            <label class="form__label" for="id_time">минут</label>
            {% if form.cook_time.errors %}
            <span class="form__error">{{ form.cook_time.errors.as_text|escape }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form__group">
          <label class="form__label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
          <div class="form__field-group">
            {{ form.description|add_class:'form__textarea' }}
            {% if form.description.errors %}
              <span class="form__error">{{ form.description.errors.as_text|escape }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form__group">
          <label class="form__label" for="{{ form.image.id_for_label }}">{{form.image.label }}</label>
          <div class="form__field-group">
            {{ form.image|add_class:"form__file-button" }}
            {% if form.image.errors %}
              <span class="form__error">{{ form.image.errors.as_text|escape }}</span>
            {% endif %}
          </div>
        </div>
        <div class="form__footer">
          {% if recipe %}
          <button class="button button_style_blue" type="submit">Сохранить рецепт</button>
          <a class="form__ingredient-link"
             href="{% url 'recipe_delete' recipe.slug %}"
             style="margin-left: 2.5em">Удалить</a>
          {% else %}
            <button class="button button_style_blue" type="submit">Создать рецепт</button>
          {% endif %}
        </div>
      </form>
    </div>
  </main>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/utils/debouncing.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'formRecipe.js' %}"></script>
{% endblock scripts%}
