{% extends "base.html" %}
{% load static %}
{% block title %}
    Войти на сайт
{% endblock %}
{% block css %}
<link rel="stylesheet" href='{% static "pages/single.css" %}'>
{% endblock %}
{% block content %}
  {% load recipe_filters %}
  {% load tag_filters %}
	<main class="main container">
    <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">

    {% load thumbnail %}
    {% thumbnail recipe.image "480x480" as im %}
        <img src="{{ im.url }}" alt="Место для картинки" class="card__image" />
    {% endthumbnail %}

    <div class="single-card__info">
      <div class="single-card__header-info">
        <h1 class="single-card__title">{{ recipe.title }}</h1>
        {% if user.is_authenticated %}
            {% csrf_token %}
            {% if recipe|in_favorites:request.user %}
                <div class="single-card__favorite">
                    <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                </div>
            {% else %}
                <div class="single-card__favorite">
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                </div>
            {% endif %}

        {% endif %}

        </div>
        <ul class="single-card__items">

            {% for tag in recipe.tags.all %}
                <li class="single-card__item" ><span style="background: {{ tag.background_color|hex_to_rgb }};color: {{ tag.color }}" class="badge">{{ tag.title }}</span></li>
            {% endfor %}

        </ul>
        <div class="single-card__items single-card__items_column">
            <p class="single-card__text"><span class="icon-time"></span> {{ recipe.cook_time }} мин.</p>
            <ul class="single-card__items">
                <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span>{{ recipe.author.get_full_name|default:recipe.author.username }}</p></li>

                {% if user == recipe.author %}
                    <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe_id=recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
                {% endif %}

            </ul>
        </div>

        <ul class="single-card__items">
            {% csrf_token %}
            {% if recipe.id in request.session.recipe_ids %}
                <li class="single-card__item"><button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button></li>
            {% else %}
                <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span class="icon-plus"></span>Добавить в покупки</button></li>
            {% endif %}

            {% if user.is_authenticated and user != recipe.author %}
                 {% if recipe.author|is_subscribed:user %}
                    <li class="single-card__item">
                        <button class="button button_style_light-blue button_size_auto"
                                name="subscribe">Отписаться от автора
                        </button>
                {% else %}
                    <li class="single-card__item">
                        <button class="button button_style_light-blue button_size_auto"
                                name="subscribe" data-out>Подписаться на автора
                        </button>
                {% endif %}
            {% endif %}
        </ul>
        <div class="single-card__section">
          <h3 class="single-card__section-title">Ингредиенты:</h3>
          <div class="single-card__items single-card__items_column">
            {% for ingredient in recipe.counts.all %}
              <p class=" single-card__section-item">{{ ingredient.ingredient.title }} - {{ ingredient.count }} {{ ingredient.ingredient.dimension }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="single-card__section">
          <h3 class="single-card__section-title">Описание:</h3>
          <p class=" single-card__section-text">{{ recipe.description }}</p>
        </div>
      </div>
    </div>
</main>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'js/components/Purchases.js' %}"></script>
	<script src="{% static 'js/components/Favorites.js' %}"></script>
	<script src="{% static 'js/components/Subscribe.js' %}"></script>
	<script src="{% static 'js/config/config.js' %}"></script>
	<script src="{% static 'js/components/MainCards.js' %}"></script>
	<script src="{% static 'js/components/SingleCard.js' %}"></script>
	<script src="{% static 'js/components/Header.js' %}"></script>
	<script src="{% static 'js/api/Api.js' %}"></script>
	{% if user.is_authenticated %}
	<script src="{% static 'singlePage.js' %}"></script>
	{% else %}
	<script src="{% static 'singlePageNotAuth.js' %}"></script>
	{% endif %}
{% endblock scripts%}