{% extends "base.html" %}
{% load static %}
{% block title %}
    Войти на сайт
{% endblock %}
{% block css %}
<link rel="stylesheet" href='{% static "pages/shopList.css" %}'>
{% endblock %}
{% block content %}
  {% load recipe_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">

            {% for recipe in recipes %}
            <li class="shopping-list__item" data-id="{{ recipe.id }}">
                <div class="recipe recipe_reverse">
                    {% load thumbnail %}
                    {% thumbnail recipe.recipe.image "480x480" as image %}
                        <img src="{{ image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    {% endthumbnail %}
                    <a href="{% url 'recipe' recipe.recipe.id %}"><h3 class="recipe__title">{{ recipe.recipe.title }}</h3></a>

                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.recipe.cook_time }} мин.</p>
                </div>
                <a href="{% url 'delete_purchase' recipe.id %}" class="shopping-list__button link">Удалить</a>
            </li>
           {% endfor %}
        </ul>
        <a href="{% url 'download_purchase' %}"><button class="button button_style_blue">Скачать список</button></a>


    </div>
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock scripts%}
